<footer id="#footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9">
                <a title="External website - opens in a new window"
                    href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">
                    <div class="icon icon-logo-ogl"></div>
                </a>
                <p>All content is available under the <a
                        href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">
                        Open Government Licence v3.0</a>,
                    <br>except where otherwise stated
                </p>
            </div>
            <div class="col-xs-12 col-sm-3 text-right">
                <a title="External website - opens in a new window" href="http://gov.uk/" target="_blank"
                    rel="noopener noreferrer">
                    <div class="icon icon-logo-gov-uk"></div>
                </a>
            </div>
        </div>
    </div>
</footer>
</body>