<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="WT.cg_n" content="View records of other archives">
	<meta name="DCSext.docref" content="Division within WO">
	<meta name="DCSext.filtertype" content="Date">
	<meta name="DCSext.searchtype" content="Records filtered search">
	<meta name="DCSext.colltype" content="NRA"/>
	<meta name="DCSext.dsource" content="MDR"/>
	<meta name="DCSext.place" content="Hornby, Yorkshire"/>
	<meta name="DCSext.rdata" content="GB/NNAF/M172908">
	<meta name="DCSext.repository" content="London Metropolitan Archives"/>
	<meta name="DCSext.signedin" content="signed-in" />
	<meta name="DCSext.subscription" content="not subscribed">
	<meta name="DCSext.imgviewer" content="Image Viewer Watermarked">

	<!-- <link rel="stylesheet" href="https://cdn.nationalarchives.gov.uk/tna-base/1.0/css/tna-base.min.css"> -->
	<link rel="stylesheet" href="/css/tna-base.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<title>GTM Tracking</title>

	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-T8DSWV');
	</script>
	<!-- End Google Tag Manager -->
	<script src="/discoveryServerSide.bundle.js"></script>
</head>

<body>
	<header role="banner">
		<a id="skip-to-main-content" href="#breadcrumb-holder">Skip to Main Content</a>
		<div class="container">
			<div class="row">
				<div class="col-xs-2 col-sm-5">
					<a href="http://www.nationalarchives.gov.uk" title="Go to The National Archives homepage">
						<img src="http://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/logo-white.png" alt="The National Archives"
						 class="img-responsive">
					</a>
				</div>
			</div>
		</div>
	</header>