<section>

    <article>
        <header>
            <h2>TNA GTM test page</h2>
            <p>Posted on
                <time datetime="2009-09-04T16:31:24+02:00">September 4th 2009</time>
                by <a href="#">Writer</a> - <a href="#comments" id="comments">6 comments</a></p>
        </header>
        <div class="order-option-wrapper">
            <p><a href="#" data-webtrends-call="blahhhhh">Some Text</a></p>
        </div>


        <div id="imageviewerOverlay">
            <p>banner</p>
        </div>

    </article>


</section>
<script src="../dist/discoveryServerSide.bundle.js"></script>