<div class="row">
    <div class="col starts-at-full ends-at-two-thirds clr holding-box">
        <div class="heading-holding-banner">
            <h1>
                <span><span>Thank you for your order</span></span>
            </h1>
        </div>
        <div class="breather">
            <ul class="step-indicator">
                <li>
                    <span>1</span>
                    <span>Basket</span>
                </li>
                <li>
                    <span>2</span>
                    <span>Review</span>
                </li>
                <li>
                    <span>3</span>
                    <span>Payment</span>
                </li>
                <li class="last active">
                    <span>4</span>
                    <span>Confirmation</span>
                </li>
            </ul>
        </div>

        <div class="reviewDetails breather">
            <div id="basketContents">
                <div id="orderReference">
                    <h2 class="inline">
                        Transaction reference: <strong>I/663750170004140F</strong>
                    </h2>
                    <p>
                        The order receipt has been sent to email@provider.com.
                    </p>
                </div>
                <div id="basketItemsWrapper" class="distinct">
                    <div class="order-items distinct">


                        <div>
                            <h2 class="inline clr">2 Digital items</h2>
                        </div>
                        <div class="basket-item">
                            <p>
                                <strong>Title: </strong>Name: Malan Rank: Wing Commander Squadron: 74, 92, 609 Other
                                Dates of...<br/>
                                <strong>Order number: </strong>1006255<br/>
                                <strong>Catalogue reference: </strong>AIR 50/406<br/>
                                <strong>Price: </strong>&#163;3.50<br/>
                                <strong>Download details: </strong>Download size approximately 1.5 MB
                            </p>

                            <a class="discoveryPrimaryCallToActionLink blockUIForDownload"
                               href="/checkout/download/C1912935?reference=AIR%2050%2F406&amp;ordernumber=I%2F663750170004140F&amp;digitalreceipt=NATIONALARCH%5EPRONLINE%5EI%2F663750170004140F%2C700%2CGBP%2CAUTHORISED%2C3fa629d7984927af810c315399f82535&amp;edocId=0"
                               id="digitaldownloadbuttonC1912935"
                               onclick="dcsMultiTrack(&#39;DCS.dcsuri&#39;,&#39;/Conversion/Download&#39;,&#39;WT.ti&#39;,&#39;Conversion: Download full record&#39;, &#39;WT.cg_n&#39;,&#39;Conversion&#39;,&#39;WT.dl&#39;,&#39;0&#39;, &#39;DCSext.prodpgtype&#39;,&#39;Download document&#39;,&#39;DCSext.prodpgaction&#39;,&#39;conversion&#39;,&#39;DCSext.ref&#39;,&#39;INPUT_DOCUMENT_REFERENCE&#39;,&#39;WT.pn_sku&#39;,&#39; DOCUMENT_REFERENCE&#39;,&#39;WT.pn_gr&#39;,&#39;Digital Record&#39;,&#39;WT.pn_fa&#39;,&#39;Discovery&#39;,&#39;WT.tx_e&#39;,&#39;&#39;,&#39;WT.si_n&#39;,&#39;ShoppingCart&#39;,&#39; WT.si_p&#39;,&#39;DownloadDocument&#39;);"
                               style="clear:none;">Download now</a> Download expires Friday 21 September 2018
                        </div>
                        <div class="basket-item">
                            <p>
                                <strong>Title: </strong>Name: Martell Rank: Capitaine Squadron: 341 Other Dates of
                                Combat: ...<br/>
                                <strong>Order number: </strong>1006256<br/>
                                <strong>Catalogue reference: </strong>AIR 50/407<br/>
                                <strong>Price: </strong>&#163;3.50<br/>
                                <strong>Download details: </strong>Download size approximately 0.5 MB
                            </p>

                            <a class="discoveryPrimaryCallToActionLink blockUIForDownload"
                               href="/checkout/download/C1912936?reference=AIR%2050%2F407&amp;ordernumber=I%2F663750170004140F&amp;digitalreceipt=NATIONALARCH%5EPRONLINE%5EI%2F663750170004140F%2C700%2CGBP%2CAUTHORISED%2C3fa629d7984927af810c315399f82535&amp;edocId=0"
                               id="digitaldownloadbuttonC1912936"
                               onclick="dcsMultiTrack(&#39;DCS.dcsuri&#39;,&#39;/Conversion/Download&#39;,&#39;WT.ti&#39;,&#39;Conversion: Download full record&#39;, &#39;WT.cg_n&#39;,&#39;Conversion&#39;,&#39;WT.dl&#39;,&#39;0&#39;, &#39;DCSext.prodpgtype&#39;,&#39;Download document&#39;,&#39;DCSext.prodpgaction&#39;,&#39;conversion&#39;,&#39;DCSext.ref&#39;,&#39;INPUT_DOCUMENT_REFERENCE&#39;,&#39;WT.pn_sku&#39;,&#39; DOCUMENT_REFERENCE&#39;,&#39;WT.pn_gr&#39;,&#39;Digital Record&#39;,&#39;WT.pn_fa&#39;,&#39;Discovery&#39;,&#39;WT.tx_e&#39;,&#39;&#39;,&#39;WT.si_n&#39;,&#39;ShoppingCart&#39;,&#39; WT.si_p&#39;,&#39;DownloadDocument&#39;);"
                               style="clear:none;">Download now</a> Download expires Friday 21 September 2018
                        </div>


                        <div class="grand-total">
                            <h2 class="inline clr"><strong>Subtotal: </strong>&#163;7.00 </h2><br/>
                            <h3 class="inline clr"><strong>Postage and packing: </strong>&#163;0.00 </h3><br/>
                            <h2 class="inline clr"><strong>Total: </strong>&#163;7.00 </h2><br/>
                        </div>
                    </div>
                    <div class="page-check-form">
                        <p><strong>Digital downloads</strong></p>
                        <div>
                            <p>Downloads will expire after 30 days from the order date.</p>
                            <p>If you were signed into your Discovery account when you made your order, your images are
                                also available to download from Your orders page.</p>
                            <p>If you have any questions or concerns about your digital item order, please contact us at
                                <a href="mailto:DigitalDownloads@nationalarchives.gov.uk">digitaldownloads@nationalarchives.gov.uk</a>
                                quoting the order number and transaction reference.</p>
                        </div>
                        <p><strong>Page checks and copy orders</strong></p>
                        <div>
                            <p>You can track progress from Your orders page.</p>
                        </div>
                        <p><strong>Closed research requests</strong></p>
                        <div>
                            <p>If you have any questions or concerns about your order, please contact us at <a
                                    href="mailto:enquiry@nationalarchives.gov.uk">enquiry@nationalarchives.gov.uk</a>
                            </p>
                        </div>
                        <br/>
                        <p>If you have any questions or concerns about your order, please contact us at +44 (0) 20 8876
                            3444.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="breather">

            <div id="createAnAccountCallToAction">
                <h2 class="inline">
                    Get quick access to your items
                </h2>
                <p>
                    Join other researchers, social historians and genealogists who benefit from an account
                    with The National Archives.
                </p>
                <p><a class="discoveryPrimaryCallToActionLink" href="/register">Create an account</a></p>
            </div>
        </div>
    </div>
</div></div>


<div class="container">
    <div class="newsletter-template">
        <div class="news-icon">
            <img src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/tna-newsletter-icon.png"
                 alt="TNA Newsletter Icon"/>
        </div>

        <div class="news-content" id="newsletterAccessibility">
            <h2>Send me The National Archives’ newsletter</h2>
            <p>A monthly round-up of news, blogs, offers and events</p>
        </div>

        <div class="news-form">
            <form name="signup" id="signup" action="https://r1-t.trackedlink.net/signup.ashx" method="post">
                <input type="hidden" name="addressbookid" value="636353">
                <input type="hidden" name="userid" value="173459">
                <input type="hidden" name="cd_SOURCE" value="discovery">
                <input type="hidden" name="ReturnURL"
                       value="http://nationalarchives.gov.uk/news/subscribe-confirmation.htm">
                <label for="Email">Send me The National Archives’ newsletter</label>
                <input type="email" name="Email" id="Email" required="required"
                       placeholder="Enter your email address" aria-labelledby="newsletterAccessibility">
                <input id="newsletterSignUp" type="submit" name="Submit" value="Subscribe" class="margin-left-medium">
            </form>
            <div class="small small-margin">
                <a href="http://www.nationalarchives.gov.uk/legal/privacy-policy/" title="About our privacy policy">
                    About our
                    privacy policy
                </a>
            </div>
        </div>
    </div>
</div>

<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col starts-at-full ends-at-one-quarter footer-col clr">
                <div class="footer-left">
                    <address>
                        The National Archives<br>
                        Kew, Richmond, Surrey,<br>
                        TW9 4DU
                    </address>
                    Tel: +44 (0) 20 8876 3444
                </div>
                <div class="footer-left">
                    <h4>Standard opening times</h4>
                    <div class="opening-times">
                        <div class="open_table">
                            <div class="open_tableBody">
                                <div class="open_tableRow">
                                    <div class="open_tableCell">Monday</div>
                                    <div class="open_tableCell">Closed</div>
                                </div>
                                <div class="open_tableRow">
                                    <div class="open_tableCell">Tuesday</div>
                                    <div class="open_tableCell">09:00 &ndash; 19:00</div>
                                </div>
                                <div class="open_tableRow">
                                    <div class="open_tableCell">Wednesday</div>
                                    <div class="open_tableCell">09:00 &ndash; 17:00</div>
                                </div>
                                <div class="open_tableRow">
                                    <div class="open_tableCell">Thursday</div>
                                    <div class="open_tableCell">09:00 &ndash; 19:00</div>
                                </div>
                                <div class="open_tableRow">
                                    <div class="open_tableCell">Friday</div>
                                    <div class="open_tableCell">09:00 &ndash; 17:00</div>
                                </div>
                                <div class="open_tableRow">
                                    <div class="open_tableCell">Saturday</div>
                                    <div class="open_tableCell">09:00 &ndash; 17:00</div>
                                </div>
                                <div class="open_tableRow">
                                    <div class="open_tableCell">Sunday</div>
                                    <div class="open_tableCell">Closed</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://www.nationalarchives.gov.uk/about/visit-us/opening-times/">Full opening times</a>
                </div>
            </div>

            <div class="col starts-at-full ends-at-one-quarter clr">
                <div class="footer-left">
                    <h4>Find out more</h4>
                    <ul>
                        <li><a href="http://www.nationalarchives.gov.uk/contact-us/">Contact us</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/about/press-room/">Press room</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/about/jobs/">Jobs and careers</a></li>
                        <li>
                            <a href="http://www.nationalarchives.gov.uk/about/get-involved/friends-of-the-national-archives/">Friends
                                of The National Archives</a></li>
                    </ul>
                </div>
                <div class="footer-left">
                    <h4>Site help</h4>
                    <ul>
                        <li><a href="http://www.nationalarchives.gov.uk/help/">Help</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/help/a-to-z/">Website A-Z index</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/help/web-accessibility/">Accessibility</a></li>
                    </ul>
                </div>
            </div>

            <div class="col starts-at-full ends-at-one-quarter clr">
                <div class="footer-left">
                    <h4>Websites</h4>
                    <ul>
                        <li><a href="http://blog.nationalarchives.gov.uk/">Blog</a></li>
                        <li><a href="http://media.nationalarchives.gov.uk/">Podcasts and videos</a></li>
                        <li><a href="http://bookshop.nationalarchives.gov.uk/">Bookshop</a></li>
                        <li><a href="https://images.nationalarchives.gov.uk/">Image library</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/webarchive/">UK Government Web Archive</a></li>
                        <li><a href="http://www.legislation.gov.uk/" target="_blank" rel="noopener noreferrer">Legislation.gov.uk</a>
                        </li>
                        <li><a href="https://www.thegazette.co.uk/" target="_blank" rel="noopener noreferrer">The
                            Gazette</a></li>
                    </ul>
                </div>
                <div class="footer-left">
                    <h4>Legal</h4>
                    <ul>
                        <li><a href="http://www.nationalarchives.gov.uk/legal/">Terms of use</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/legal/privacy.htm">Privacy policy</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/legal/cookies.htm">Cookies</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/about/freedom-of-information/">Freedom of
                            Information</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/about/our-role/transparency/">Transparency</a>
                        </li>
                        <li><a href="http://www.nationalarchives.gov.uk/legal/our-fees.htm">Our fees</a></li>
                    </ul>
                </div>
            </div>

            <div class="col starts-at-full ends-at-one-quarter clr">
                <div class="footer-left">
                    <h4>Follow us</h4>
                    <div class="follow-us">
                        <a href="https://twitter.com/UKNatArchives" title="Follow us on Twitter" target="_blank">
                            <img src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/social/twitter.png"
                                 alt="Twitter logo">
                        </a>
                        <a href="https://www.youtube.com/c/TheNationalArchivesUK" title="Follow us on YouTube"
                           target="_blank">
                            <img src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/social/youtube-play.png"
                                 alt="YouTube logo">
                        </a>
                        <a href="https://www.flickr.com/photos/nationalarchives" title="Follow us on Flickr"
                           target="_blank">
                            <img src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/social/flickr.png"
                                 alt="Flickr logo">
                        </a>
                        <a href="https://www.facebook.com/TheNationalArchives" title="Follow us on Facebook"
                           target="_blank">
                            <img src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/social/facebook.png"
                                 alt="Facebook logo">
                        </a>
                        <a href="http://www.nationalarchives.gov.uk/rss/" title="Follow us via RSS">
                            <img src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/social/rss.png"
                                 alt="RSS logo">
                        </a>
                    </div>
                </div>
                <div class="footer-left">
                    <h4>Featured Flickr image</h4>
                    <p id="flickr-caption" class="caption">Patented textile pattern by Christopher Dresser. <a
                            target="_blank" title="External website - opens in a new window"
                            href="http://www.flickr.com/photos/nationalarchives/3208858799/in/set-72157608416657334/">EXT
                        9/104</a></p>
                    <p id="flickr-image"><a target="_blank" title="External website - opens in a new window"
                                            href="http://www.flickr.com/photos/nationalarchives/3208858799/in/set-72157608416657334/">
                        <img src="https://www.nationalarchives.gov.uk/images/global/featured-flickr-ext-9-104.jpg"
                             alt="Patented textile pattern by Christopher Dresser."></a></p>
                </div>
            </div>
        </div>

        <!-- end row -->
        <div class="row footer-base">
            <div class="left">
                <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/"> <img
                        alt="Open Government License logo"
                        src="https://www.nationalarchives.gov.uk/images/global/logo-ogl.png"/> </a>
                <p>All content is available under the <a
                        href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence
                    v3.0</a>, <br/>except where otherwise stated </p>
            </div>
            <div class="right">
                <a class="footer-base-external-branding-gov-logo-adjust"
                   title="External website - opens in a new window" href="http://gov.uk/" target="_blank"> <img
                        alt="GOV.UK logo" src="https://www.nationalarchives.gov.uk/images/global/gov-uk.png"/> </a>
            </div>
        </div>
        <!-- end row external branding -->
    </div>
    <!-- end container -->
</div>
<!-- end footer-wrapper -->
<div id="version">
    Version 6.0 - August 2018 - OffSite
</div>

<noscript>
    <div><img alt="DCSIMG" id="DCSIMG" width="1" height="1"
              src="https://smartsource.nationalarchives.gov.uk/dcsdhhxq6000004rry7ab39or_9h9r/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=8.6.2"/>
    </div>
</noscript>
<!-- END OF SmartSource Data Collector TAG -->
<!--[if lt IE 9]>
<script src="http://test.discovery.nationalarchives.gov.uk/Scripts/jquery-1.10.2.min.js"></script>
<script src="http://test.discovery.nationalarchives.gov.uk/Scripts/jquery-migrate-1.0.0.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="http://test.discovery.nationalarchives.gov.uk/Scripts/jquery-2.0.3.min.js"></script>
<!--<![endif]-->
<!-- TNA scripts -->

<script src="http://test.discovery.nationalarchives.gov.uk/Scripts/Build/discovery.21.05.2018.min.js"></script>

<!--[if lte IE 9]>
<script src="/scripts/json2.js"></script>
<![endif]-->

<script src="https://nationalarchives.gov.uk/scripts/footer-img.js" defer></script>