
<!DOCTYPE html>
<html lang="en-gb" class="no-js">
<head>
    <meta charset="utf-8">
    <title>Your shopping basket</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0">
    <meta name="keywords" content="government information, archive, history, information management, national archives, public records, manuscripts, documents" />
    <meta name="description" content="The official archive of the UK government. Our vision is to lead and transform information management, guarantee the survival of today's information for tomorrow and bring history to life for everyone." />
    <meta name="DC.identifier" scheme="DCTERMS.URI" content="http://www.nationalarchives.gov.uk/default.htm" />
    <meta name="DC.title" content="The Discovery Service" />
    <meta name="DC.rights" content="http://www.nationalarchives.gov.uk/legal/copyright.htm" />
    <meta name="DC.publisher" content="The National Archives" />
    <meta name="DC.creator" content="The National Archives" />
    <meta name="DC.language" content="en-GB" />
    <meta name="DC.format" scheme="DCTERMS.IMT" content="text/html" />
    <meta name="DC.type" scheme="DCTERMS.DCMIType" content="Text" />
    <meta name="DCTERMS.created" scheme="DCTERMS.W3CDTF" content="2008-12-18" />
    <meta name="DCTERMS.modified" scheme="DCTERMS.W3CDTF" content="2009-08-12" />
    <meta name="DC.subject" content="Public Records, National Archives, History, Government, Documents" />
    <meta name="DCTERMS.temporal" content="1900-2000" />
    <meta name="DCTERMS.spatial" content="England,Wales,UnitedKingdom" />
    <meta name="DC.description" content="The National Archives is the UK government's official archive. Our main duties are to preserve Government records and to set standards in information management and re-use." />
    <meta name="eGMS.subject.category" scheme="GCL" content="Libraries and archives" />

    <meta name="DCSext.signedin" content="Not signed-in" />
    <meta name="DCSext.subscription" content="not subscribed" />




    <!-- META TAGS ADDED MANUALLY -->
    <meta name="WT.si_n" content="Discovery store">
    <meta name="WT.si_p" content="Step 1">
    <meta name="WT.pn_fa" content="Digital Record;Digital Record;Digital Record">
    <meta name="WT.pn_gr" content="The National Archives">
    <meta name="WT.pn_sku" content="WO 398/188/14;AIR 78/90/22;PROB 11/611/331">
    <meta name="WT.tx_s" content="3.50;0.00;3.50">





    <meta name="WT.cg_n" content="ShoppingBasket">
    <meta name="WT.si_n" content="ShoppingCart">
    <!--<meta name="WT.si_p" content="CartAdd">-->
    <meta name="DCSext.sitearea" content="Discovery">
    <link href="http://test.discovery.nationalarchives.gov.uk/Content/compiled-css/main.min.21.05.2018.css" type="text/css" rel="stylesheet" />


    <!--[if IE 7]>
    <link rel="stylesheet" href="http://test.discovery.nationalarchives.gov.uk/Content/internet-explorer7.css">
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" href="http://test.discovery.nationalarchives.gov.uk/Content/internet-explorer8.css">
    <![endif]-->
    <!--[if IE 9]>
    <link rel="stylesheet" href="http://test.discovery.nationalarchives.gov.uk/Content/internet-explorer9.css">
    <![endif]-->

    <script src="http://test.discovery.nationalarchives.gov.uk/Scripts/modernizr.min.js"></script>
    <!--[if (gte IE 6)&(lte IE 8)]>
    <script src="http://test.discovery.nationalarchives.gov.uk/Scripts/respond.min.js"></script>
    <![endif]-->
    <!-- Google Tag Manager -->
    <script src="http://test.discovery.nationalarchives.gov.uk/Scripts/GoogleTagManager/discoveryServerSideGTM.js"></script>
    <script src="../dist/ecommerceTracking.bundle.js"></script>

    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T8DSWV');
    </script>
    <!-- End Google Tag Manager -->

    <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <link href="http://test.discovery.nationalarchives.gov.uk/Content/images/favicon.ico" type="image/x-icon" rel="Shortcut Icon" />
    <link href="http://test.discovery.nationalarchives.gov.uk/Content/images/favicon.ico" type="image/x-icon" rel="icon" />
    <link href="http://test.discovery.nationalarchives.gov.uk/Content/images/apple-touch-icon.png" rel="apple-touch-icon" />
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8DSWV"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->




<header role="banner" id="page-header">
    <div id="skip-link-container">
        <a href="#page_wrap">Skip to Main Content</a>
    </div>
    <div class="container">
        <div id="holds-logo-and-search" class="row">
            <div id="logo-holder" class="col starts-at-full ends-at-half clr">
                <button aria-label="Toggle menu" id="mega-menu-mobile"></button>
                <a title="Go to The National Archives homepage" href="http://www.nationalarchives.gov.uk">
                    <img src="http://test.discovery.nationalarchives.gov.uk/Content/Images/logo-white.png" alt="The National Archives" title="The National Archives" />
                </a>
                <form id="mobile-global-search" method="get" action="http://nationalarchives.gov.uk/search/results">
                    <div id="mobile-search-outer-wrapper">
                        <div id="mobile-search-wrapper">
                            <input type="text" aria-required="true" required name="_q" placeholder="Search our website..." id="mobile-search-field" autocomplete="off">
                            <input type="submit" id="mobileSearchSubmit" value="" />
                        </div>
                        <div id="change-destination">
                            <span><input type="radio" data-fieldname="_q" data-placeholder="Search our website..." data-target="http://nationalarchives.gov.uk/search/results" id="websiteSearch" name="searchDestination" class="mobileSearchDestinationOption" checked=""><label for="websiteSearch">Search our website</label></span>
                            <span><input type="radio" data-fieldname="_q" data-placeholder="Search our records..." data-target="/results/r" id="catalogueSearch" name="searchDestination" class="mobileSearchDestinationOption"><label for="catalogueSearch">Search our records</label></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col starts-at-full ends-at-half clr hide-element-frontend">
                <div id="search-field-wrapper" role="search">
                    <form id="globalSearch" method="get" action="http://nationalarchives.gov.uk/search/results">
                        <span id="scope-selector" class="interactive-element">&nbsp;</span>
                        <input type="text" aria-required="true" required="" name="_q" id="tnaSearch" placeholder="Search our website..." class="search-field" autocomplete="off">
                        <input type="submit" value="" id="search-button" class="search-button">
                    </form>
                    <ul id="search-options">
                        <li><a aria-label="Change form destination to search the website" role="button" data-fieldname="_q" data-placeholder="Search our website..." data-target="http://nationalarchives.gov.uk/search/results" class="formDestinationChanger" href="#">Search our website</a></li>
                        <li><a aria-label="Change form destination to search the catalogue" role="button" data-fieldname="_q" data-placeholder="Search our records..." data-target="/results/r" class="formDestinationChanger" href="#">Search our records</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col starts-at-full clr pull-down">
                <div id="mega-menu-pull-down" class="interactive-element">
                    <button aria-label="Toggle menu">Menu</button>
                </div>
            </div>
        </div>
    </div>
    <!-- NORMAL mega menu -->
    <div class="mega-menu" role="navigation">
        <section class="row">
            <nav class="col mega-menu-group clr">
                <div>
                    <h3><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/About us ','WT.ti','Menu - About us ');" href="http://www.nationalarchives.gov.uk/about">About us</a></h3>
                    <ul>
                        <li class="mobileOnly"><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/About us ','WT.ti','Menu - About us ');" href="http://www.nationalarchives.gov.uk/about/">About us home</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Our role ','WT.ti','Menu - Our role ');" href="http://www.nationalarchives.gov.uk/about/our-role/">Our role</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Visit us ','WT.ti','Menu - Visit us ');" href="http://www.nationalarchives.gov.uk/about/visit-us/">Visit us</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Opening times ','WT.ti','Menu - Opening times ');" href="http://www.nationalarchives.gov.uk/about/visit-us/opening-times">Opening times</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Jobs ','WT.ti','Menu - Jobs ');" href="http://www.nationalarchives.gov.uk/about/jobs/">Jobs</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Get involved ','WT.ti','Menu - Get involved ');" href="http://www.nationalarchives.gov.uk/about/get-involved/">Get involved</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/News ','WT.ti','Menu - News ');" href="http://www.nationalarchives.gov.uk/about/news/">News</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Press room ','WT.ti','Menu - Press room ');" href="http://www.nationalarchives.gov.uk/about/press-room/">Press room</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Commercial opportunities ','WT.ti','Menu - Commercial opportunities ');" href="http://www.nationalarchives.gov.uk/about/commercial-opportunities/">Commercial opportunities</a></li>
                    </ul>
                </div>
            </nav>
            <nav class="col mega-menu-group clr">
                <div>
                    <h3><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Education ','WT.ti','Menu - Education ');" href="http://www.nationalarchives.gov.uk/education/">Education</a></h3>
                    <ul>
                        <li class="mobileOnly"><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Education ','WT.ti','Menu - Education ');" href="http://www.nationalarchives.gov.uk/education">Education home</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Topics ','WT.ti','Menu - Topics ');" href="http://www.nationalarchives.gov.uk/education/sessions-and-resources/?time-period=medieval,early-modern,empire-and-industry,victorians,early-20th-century,interwar,second-world-war,postwar">Time periods</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Lessons ','WT.ti','Menu - Lessons ');" href="http://www.nationalarchives.gov.uk/education/sessions-and-resources/?resource-type=lesson">Lessons</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Workshops ','WT.ti','Menu - Workshops ');" href="http://www.nationalarchives.gov.uk/education/sessions-and-resources/?resource-type=workshop">Workshops</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Videoconferences ','WT.ti','Menu - Videoconferences ');" href="http://www.nationalarchives.gov.uk/education/sessions-and-resources/?resource-type=video-conferences">Videoconferences</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Virtual classroom ','WT.ti','Menu - Virtual classroom ');" href="http://www.nationalarchives.gov.uk/education/sessions-and-resources/?resource-type=virtual-classroom">Virtual classroom</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Professional development ','WT.ti','Menu - Professional development ');" href="http://www.nationalarchives.gov.uk/education/teachers/professional-development/">Professional development</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/For teachers ','WT.ti','Menu - For teachers ');" href="http://www.nationalarchives.gov.uk/education/teachers/">For teachers</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/For students ','WT.ti','Menu - For students ');" href="http://www.nationalarchives.gov.uk/education/students/">For students</a></li>
                    </ul>
                </div>
            </nav>
            <nav class="col mega-menu-group clr">
                <div>
                    <h3><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/help-with-your-research ','WT.ti','Menu – Help with your research home ');" href="http://www.nationalarchives.gov.uk/help-with-your-research">Help with your research</a></h3>
                    <ul>
                        <li class="mobileOnly"><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/help-with-your-research ','WT.ti','Menu – Help with your research home ');" href="http://www.nationalarchives.gov.uk/help-with-your-research/">Help with your research home</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Search Discovery, our catalogue ','WT.ti','Menu - Search Discovery, our catalogue ');" href="http://discovery.nationalarchives.gov.uk/">Search Discovery, our catalogue</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Start your research here ','WT.ti','Menu - Start your research here ');" href="http://www.nationalarchives.gov.uk/help-with-your-research/start-here/">Start your research here</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/help-with-your-research/research-guides-keywords/ ','WT.ti','Menu - Research guides A-Z ');" href="http://www.nationalarchives.gov.uk/help-with-your-research/research-guides-keywords/">Research guides A-Z</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/online-collections ','WT.ti','Menu - Online collections ');" href="http://www.nationalarchives.gov.uk/help-with-your-research/research-guides/?research-category=online">Online collections</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/UK Government Web Archive ','WT.ti','Menu - UK Government Web Archive ');" href="http://www.nationalarchives.gov.uk/webarchive/">UK Government Web Archive</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Certificates of British Citizenship ','WT.ti','Menu - Certificates of British Citizenship ');" href="http://www.nationalarchives.gov.uk/help-with-your-research/research-guides/certificates-of-british-citizenship-1949-1986/">Certificates of British Citizenship</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Record copying ','WT.ti','Menu - Record copying ');" href="http://www.nationalarchives.gov.uk/help-with-your-research/record-copying/">Record copying</a></li>
                    </ul>
                </div>
            </nav>
            <nav class="col mega-menu-group clr">
                <div>
                    <h3 class=hyphenate><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Information Management ','WT.ti','Menu - Information Management ');" href="http://www.nationalarchives.gov.uk/information-management/">Information management</a></h3>
                    <ul>
                        <li class="mobileOnly"><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Information Management ','WT.ti','Menu - Information Management ');" href="http://www.nationalarchives.gov.uk/information-management/">Information management home</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Guidance and standards A-Z ','WT.ti','Menu - Guidance and standards A-Z ');" href="http://www.nationalarchives.gov.uk/information-management/browse-guidance-standards/">Guidance and standards A-Z</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Crown copyright ','WT.ti','Menu - Crown copyright ');" href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright/">Copyright</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Re-using PSI ','WT.ti','Menu - Re-using PSI ');" href="http://www.nationalarchives.gov.uk/information-management/manage-information/">How to manage your information</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Re-using PSI ','WT.ti','Menu - Re-using PSI ');" href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/">Re-using PSI</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Official publishing ','WT.ti','Menu - Official publishing ');" href="http://www.nationalarchives.gov.uk/information-management/producing-official-publications/">Producing official publications</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Records selection and transfer ','WT.ti','Menu - Records selection and transfer ');" href="http://www.nationalarchives.gov.uk/information-management/legislation/">Legislation and regulations</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Training ','WT.ti','Menu - Training ');" href="http://www.nationalarchives.gov.uk/information-management/training/">Training</a></li>
                    </ul>
                </div>
            </nav>
            <nav class="col mega-menu-group clr">
                <div>
                    <h3><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Archives sector ','WT.ti','Menu - Archives sector ');" href="http://www.nationalarchives.gov.uk/archives-sector">Archives sector</a></h3>
                    <ul>
                        <li class="mobileOnly"><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Archives sector ','WT.ti','Menu - Archives sector ');" href="http://www.nationalarchives.gov.uk/archives-sector">Archives sector home</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Historical Manuscripts Commission ','WT.ti','Menu - Historical Manuscripts Commission ');" href="http://www.nationalarchives.gov.uk/archives-sector/our-archives-sector-role/historical-manuscripts-commission/">Historical Manuscripts Commission</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Finding funding ','WT.ti','Menu - Finding funding ');" href="http://www.nationalarchives.gov.uk/archives-sector/finding-funding/">Finding funding</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Projects and programmes ','WT.ti','Menu - Projects and programmes ');" href="http://www.nationalarchives.gov.uk/archives-sector/projects-and-programmes/">Projects and programmes</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Case studies and research ','WT.ti','Menu - Case studies and research ');" href="http://www.nationalarchives.gov.uk/archives-sector/case-studies-and-research-reports/">Case studies and research reports</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Operating your archive ','WT.ti','Menu - Operating your archive ');" href="http://www.nationalarchives.gov.uk/archives-sector/advice-and-guidance/">Operating your archive</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Our role in the archives sector ','WT.ti','Menu - Our role in the archives sector ');" href="http://www.nationalarchives.gov.uk/archives-sector/our-archives-sector-role/">Our role in the archives sector</a></li>
                    </ul>
                </div>
            </nav>
            <nav class="col mega-menu-group clr">
                <div>
                    <h3>More...</h3>
                    <ul>
                        <li class="mobileOnly"><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/More? ','WT.ti','Menu - More? ');" href="http://www.nationalarchives.gov.uk/about/">More...</a></li>
                        <li class="image"><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Bookshop ','WT.ti','Menu - Bookshop ');" href="http://www.nationalarchives.gov.uk/bookshop/">Bookshop</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Image library ','WT.ti','Menu - Image library ');" href="http://www.nationalarchives.gov.uk/imagelibrary/">Image library</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Blog ','WT.ti','Menu - Blog ');" href="http://www.nationalarchives.gov.uk/blog/">Blog</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Podcasts and videos ','WT.ti','Menu - Podcasts and videos ');" href="http://www.nationalarchives.gov.uk/media/">Podcasts and videos</a></li>
                        <li><a onclick="dcsMultiTrack('DCS.dcsuri','/menu/Contact us ','WT.ti','Menu - Contact us ');" href="http://www.nationalarchives.gov.uk/contact/">Contact us</a></li>
                        <li class="imgContent"><a href="http://www.nationalarchives.gov.uk/first-world-war/" title="First World War 100 - read about our centenary programme"><img src="https://www.nationalarchives.gov.uk/images/home/menu-first-world-war-b.jpg" alt="Explore First World War 100"></a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </div>
    <!-- end mega-menu -->


    <div id="account-controls-wrapper">
        <div id="account-controls" class="container">
            <ul>


                <li id="signin"><a href="/sign-in">Sign in</a></li>
                <li id="register"><a href="/register">Register</a></li>


                <li id="miniBasket">
                    <a href="/basket" id="miniBasketLink">3 items - &#163;7.00</a>
                </li>
                <div id="miniBasketWrapper">
                    <ul>
                        <li>
                        <span class="basketColumn">
                            <span class="miniBasketItemName">
                                <a href="/details/r/D7229434">Record for   Riseley, Ruth     Date of Birth:   1895</a>
                            </span>
                        </span>
                            <span class="miniBasketPrice">&#163;3.50</span>
                        </li>
                        <li>
                        <span class="basketColumn">
                            <span class="miniBasketItemName">
                                <a href="/details/r/C15624743">Kendall, L D - Kendall, Ruth Honor.</a>
                            </span>
                        </span>
                            <span class="miniBasketPrice">&#163;0.00</span>
                        </li>
                        <li>
                        <span class="basketColumn">
                            <span class="miniBasketItemName">
                                <a href="/details/r/D589472">Will of James Channing, Merchant Tailor of Dorchester, Dorset</a>
                            </span>
                        </span>
                            <span class="miniBasketPrice">&#163;3.50</span>
                        </li>
                    </ul>
                    <div id="miniBasketSubtotal">
                        Total: &#163;7.00
                    </div>
                    <div id="miniBasketOptions">
                        <a class="discoverySecondaryCallToActionLink" href="/basket">View basket</a>
                    </div>
                </div>

            </ul>
        </div>
    </div>
</header>


<div id="page_wrap" class="container" role="main">



    <section class="row" id="holds-breadcrumb">
        <div class="col starts-at-half clr">
            <nav id="breadcrumb">
                <ul>
                    <li><a href="http://www.nationalarchives.gov.uk">Home</a></li>
                    <li><a href="/">Discovery</a></li>
                    <li>Your shopping basket</li>
                </ul>
            </nav>
        </div>

        <div class="col starts-at-full ends-at-half clr">
            <nav id="page-controls">
                <ul>
                    <li>
                        <a href="http://www.nationalarchives.gov.uk/help-with-your-research/discovery-help/" target="_blank" onclick="dcsMultiTrack('DCS.dcsuri','/SearchHelp', 'WT.ti', 'Search Help', 'WT.cg_n', 'Search Help', 'WT.dl','0');" id="helpLink">
                            Discovery help
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

    <section class="row">
        <div class="col starts-at-full ends-at-two-thirds clr holding-box">

            <form action="/checkout/ordersummary" method="post">            <div class="heading-holding-banner">
                <h1>
                    <span>
                        <span>
                            Your shopping basket
                        </span>
                    </span>
                </h1>
            </div>
                <div class="breather">
                    <ul class="step-indicator">
                        <li class="active">
                            <span>1</span>
                            <span>Basket</span>
                        </li>
                        <li>
                            <span>2</span>
                            <span>Review</span>
                        </li>
                        <li>
                            <span>3</span>
                            <span>Payment</span>
                        </li>
                        <li class="last">
                            <span>4</span>
                            <span>Confirmation</span>
                        </li>
                    </ul>

                    <div class="holding-box basket-contents">
                        <p>You have 3  items in your shopping basket. Please review your order.</p>
                        <div class="order-items distinct">
                            <div class="basket-item">

                                <h2 class="inline clr">1. Digital item</h2><br />
                                <strong>Title: </strong>Record for   Riseley, Ruth     Date of Birth:   1895<br />
                                <strong>Catalogue reference: </strong><a href="/details/r/D7229434">WO 398/188/14</a><br />
                                <strong>Covering dates: </strong> [1917-1920]<br />
                                <strong>Price: </strong> &#163;3.50<br />
                                <p>Download size approximately 3.5 MB</p>
                                <!--<p><a class="removeLink" href="/basket/removeitem/D7229434/0">Remove</a></p>-->
                                <p><a class="removeLink" href="#">Remove</a></p>
                            </div>
                            <div class="basket-item">

                                <h2 class="inline clr">2. Digital item</h2><br />
                                <strong>Title: </strong>Kendall, L D - Kendall, Ruth Honor.<br />
                                <strong>Catalogue reference: </strong><a href="/details/r/C15624743">AIR 78/90/22</a><br />
                                <strong>Covering dates: </strong> [1918-1975]<br />
                                <strong>Price: </strong> &#163;0.00<br />
                                <p>Download size approximately 69.5 MB</p>
                                <!--<p><a class="removeLink" href="/basket/removeitem/C15624743/0">Remove</a></p>-->
                                <p><a class="removeLink" href="#">Remove</a></p>
                            </div>
                            <div class="basket-item">

                                <h2 class="inline clr">3. Digital item</h2><br />
                                <strong>Title: </strong>Will of James Channing, Merchant Tailor of Dorchester, Dorset<br />
                                <strong>Catalogue reference: </strong><a href="/details/r/D589472">PROB 11/611/331</a><br />
                                <strong>Covering dates: </strong> 10 November 1726<br />
                                <strong>Price: </strong> &#163;3.50<br />
                                <p>Download size approximately 2.5 MB</p>
                                <!--<p><a class="removeLink" href="/basket/removeitem/D589472/0">Remove</a></p>-->
                                <p><a class="removeLink" href="#">Remove</a></p>
                            </div>
                            <div class="row total">
                                <h3 class="grand-total">
                                    Order subtotal: <strong>&#163;7.00</strong>
                                </h3>
                            </div>
                        </div>
                        <div class="checkout">
                            <a href="http://test.discovery.nationalarchives.gov.uk/results/r?_q=ashley+burnett" class="call-to-action-link secondary">Continue shopping</a>
                            <input type="submit" value="Checkout" class="call-to-action-link" />
                        </div>
                        <div class="row payment">
                            <div class="col starts-at-full ends-at-two-thirds clr center-align">
                                <img src="http://www.worldpay.com/images/cardlogos/VISA.gif" border="0" alt="Visa Credit payments supported by WorldPay" />
                                <img src="http://www.worldpay.com/images/cardlogos/visa_debit.gif" border="0" alt="Visa Debit payments supported by WorldPay" />
                                <img src="http://www.worldpay.com/images/cardlogos/visa_electron.gif" border="0" alt="Visa Electron payments supported by WorldPay" />

                                <img src="http://www.worldpay.com/images/cardlogos/mastercard.gif" border="0" alt="Mastercard payments supported by WorldPay" />
                                <img src="http://www.worldpay.com/images/cardlogos/maestro.gif" border="0" alt="Maestro payments supported by WorldPay" />
                                <img src="http://www.worldpay.com/images/cardlogos/AMEX.gif" border="0" alt="American Express payments supported by WorldPay" />

                                <img src="http://www.worldpay.com/images/cardlogos/AMEX.gif" border="0" alt="American Express payments supported by WorldPay" />
                                <img src="http://www.worldpay.com/images/cardlogos/diners.gif" border="0" alt="Diners payments supported by WorldPay" />
                                <img src="http://www.worldpay.com/images/cardlogos/JCB.gif" border="0" alt="JCB payments supported by WorldPay" />

                                <img src="http://www.worldpay.com/images/cardlogos/laser.gif" border="0" alt="Laser payments supported by WorldPay" />
                                <img src="http://www.worldpay.com/images/cardlogos/ELV.gif" border="0" alt="ELV payments supported by WorldPay" />
                                <img src="https://www.paypal.com/en_GB/GB/i/logo/PayPal_mark_50x34.gif" border="0" alt="Acceptance Mark">
                            </div>
                            <div class="col starts-at-full ends-at-one-third clr right-align ">
                                <a href="http://www.worldpay.com/" target="_blank" title="Payment Processing - WorldPay - Opens in new browser window">
                                    <img src="http://www.worldpay.com/images/poweredByWorldPay.gif" border="0" alt="WorldPay Payments Processing" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>    </div>
        <div class="col starts-at-full ends-at-one-third clr holding-box">
            <h2>
                <span><span>Proceed to checkout</span></span>
            </h2>
            <div class="breather">

                <p class="emphasisBlock" id="passwordIsOptional">
                    If you are ordering digital items, you do not need to sign in to proceed to checkout. This step is entirely optional and allows registered users to link their purchases to their National Archives account.
                </p>
                <p class="emphasisBlock">
                    To complete record copying service orders, you need to sign in to proceed to checkout.
                </p>
                <p class="right-align">
                    <a class="call-to-action-link" href="/sign-in">Sign in</a>
                    <a class="call-to-action-link" href="/register">Register</a>                </p>
                <p>
                    Signing in sets a cookie. <a href="http://nationalarchives.gov.uk/legal/cookies.htm">Find out more</a>
                </p>
            </div>
        </div>
    </section></div>


<div class="container">
    <div class="newsletter-template">
        <div class="news-icon">
            <img src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/tna-newsletter-icon.png" alt="TNA Newsletter Icon" />
        </div>

        <div class="news-content" id="newsletterAccessibility">
            <h2>Send me The National Archives’ newsletter</h2>
            <p>A monthly round-up of news, blogs, offers and events</p>
        </div>

        <div class="news-form">
            <form name="signup" id="signup" action="https://r1-t.trackedlink.net/signup.ashx" method="post">
                <input type="hidden" name="addressbookid" value="636353">
                <input type="hidden" name="userid" value="173459">
                <input type="hidden" name="cd_SOURCE" value="discovery">
                <input type="hidden" name="ReturnURL"
                       value="http://nationalarchives.gov.uk/news/subscribe-confirmation.htm">
                <label for="Email">Send me The National Archives’ newsletter</label>
                <input type="email" name="Email" id="Email" required="required"
                       placeholder="Enter your email address" aria-labelledby="newsletterAccessibility">
                <input id="newsletterSignUp" type="submit" name="Submit" value="Subscribe" class="margin-left-medium">
            </form>
            <div class="small small-margin">
                <a href="http://www.nationalarchives.gov.uk/legal/privacy-policy/" title="About our privacy policy">
                    About our
                    privacy policy
                </a>
            </div>
        </div>
    </div>
</div>

<div id="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col starts-at-full ends-at-one-quarter footer-col clr">
                <div class="footer-left">
                    <address>
                        The National Archives<br>
                        Kew, Richmond, Surrey,<br>
                        TW9 4DU
                    </address>
                    Tel: +44 (0) 20 8876 3444
                </div>
                <div class="footer-left">
                    <h4>Standard opening times</h4>
                    <div class="opening-times">
                        <div class="open_table">
                            <div class="open_tableBody">
                                <div class="open_tableRow">
                                    <div class="open_tableCell">Monday</div>
                                    <div class="open_tableCell">Closed</div>
                                </div>
                                <div class="open_tableRow">
                                    <div class="open_tableCell">Tuesday</div>
                                    <div class="open_tableCell">09:00 &ndash; 19:00</div>
                                </div>
                                <div class="open_tableRow">
                                    <div class="open_tableCell">Wednesday</div>
                                    <div class="open_tableCell">09:00 &ndash; 17:00</div>
                                </div>
                                <div class="open_tableRow">
                                    <div class="open_tableCell">Thursday</div>
                                    <div class="open_tableCell">09:00 &ndash; 19:00</div>
                                </div>
                                <div class="open_tableRow">
                                    <div class="open_tableCell">Friday</div>
                                    <div class="open_tableCell">09:00 &ndash; 17:00</div>
                                </div>
                                <div class="open_tableRow">
                                    <div class="open_tableCell">Saturday</div>
                                    <div class="open_tableCell">09:00 &ndash; 17:00</div>
                                </div>
                                <div class="open_tableRow">
                                    <div class="open_tableCell">Sunday</div>
                                    <div class="open_tableCell">Closed</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="http://www.nationalarchives.gov.uk/about/visit-us/opening-times/">Full opening times</a>
                </div>
            </div>

            <div class="col starts-at-full ends-at-one-quarter clr">
                <div class="footer-left">
                    <h4>Find out more</h4>
                    <ul>
                        <li><a href="http://www.nationalarchives.gov.uk/contact-us/">Contact us</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/about/press-room/">Press room</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/about/jobs/">Jobs and careers</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/about/get-involved/friends-of-the-national-archives/">Friends of The National Archives</a></li>
                    </ul>
                </div>
                <div class="footer-left">
                    <h4>Site help</h4>
                    <ul>
                        <li><a href="http://www.nationalarchives.gov.uk/help/">Help</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/help/a-to-z/">Website A-Z index</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/help/web-accessibility/">Accessibility</a></li>
                    </ul>
                </div>
            </div>

            <div class="col starts-at-full ends-at-one-quarter clr">
                <div class="footer-left">
                    <h4>Websites</h4>
                    <ul>
                        <li><a href="http://blog.nationalarchives.gov.uk/">Blog</a></li>
                        <li><a href="http://media.nationalarchives.gov.uk/">Podcasts and videos</a></li>
                        <li><a href="http://bookshop.nationalarchives.gov.uk/">Bookshop</a></li>
                        <li><a href="https://images.nationalarchives.gov.uk/">Image library</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/webarchive/">UK Government Web Archive</a></li>
                        <li><a href="http://www.legislation.gov.uk/" target="_blank" rel="noopener noreferrer">Legislation.gov.uk</a></li>
                        <li><a href="https://www.thegazette.co.uk/" target="_blank" rel="noopener noreferrer">The Gazette</a></li>
                    </ul>
                </div>
                <div class="footer-left">
                    <h4>Legal</h4>
                    <ul>
                        <li><a href="http://www.nationalarchives.gov.uk/legal/">Terms of use</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/legal/privacy.htm">Privacy policy</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/legal/cookies.htm">Cookies</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/about/freedom-of-information/">Freedom of Information</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/about/our-role/transparency/">Transparency</a></li>
                        <li><a href="http://www.nationalarchives.gov.uk/legal/our-fees.htm">Our fees</a></li>
                    </ul>
                </div>
            </div>

            <div class="col starts-at-full ends-at-one-quarter clr">
                <div class="footer-left">
                    <h4>Follow us</h4>
                    <div class="follow-us">
                        <a href="https://twitter.com/UKNatArchives" title="Follow us on Twitter" target="_blank">
                            <img src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/social/twitter.png"
                                 alt="Twitter logo">
                        </a>
                        <a href="https://www.youtube.com/c/TheNationalArchivesUK" title="Follow us on YouTube"
                           target="_blank">
                            <img src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/social/youtube-play.png"
                                 alt="YouTube logo">
                        </a>
                        <a href="https://www.flickr.com/photos/nationalarchives" title="Follow us on Flickr"
                           target="_blank">
                            <img src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/social/flickr.png" alt="Flickr logo">
                        </a>
                        <a href="https://www.facebook.com/TheNationalArchives" title="Follow us on Facebook"
                           target="_blank">
                            <img src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/social/facebook.png"
                                 alt="Facebook logo">
                        </a>
                        <a href="http://www.nationalarchives.gov.uk/rss/" title="Follow us via RSS">
                            <img src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/social/rss.png" alt="RSS logo">
                        </a>
                    </div>
                </div>
                <div class="footer-left">
                    <h4>Featured Flickr image</h4>
                    <p id="flickr-caption" class="caption">Patented textile pattern by Christopher Dresser. <a target="_blank" title="External website - opens in a new window" href="http://www.flickr.com/photos/nationalarchives/3208858799/in/set-72157608416657334/">EXT 9/104</a></p>
                    <p id="flickr-image"> <a target="_blank" title="External website - opens in a new window" href="http://www.flickr.com/photos/nationalarchives/3208858799/in/set-72157608416657334/"> <img src="https://www.nationalarchives.gov.uk/images/global/featured-flickr-ext-9-104.jpg" alt="Patented textile pattern by Christopher Dresser."></a> </p>
                </div>
            </div>
        </div>

        <!-- end row -->
        <div class="row footer-base">
            <div class="left">
                <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/"> <img alt="Open Government License logo" src="https://www.nationalarchives.gov.uk/images/global/logo-ogl.png" /> </a>
                <p>All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence v3.0</a>, <br />except where otherwise stated </p>
            </div>
            <div class="right">
                <a class="footer-base-external-branding-gov-logo-adjust" title="External website - opens in a new window" href="http://gov.uk/" target="_blank"> <img alt="GOV.UK logo" src="https://www.nationalarchives.gov.uk/images/global/gov-uk.png" /> </a>
            </div>
        </div>
        <!-- end row external branding -->
    </div>
    <!-- end container -->
</div>
<!-- end footer-wrapper -->
<div id="version">
    Version 6.0 - September 2018 - OffSite
</div>

<!-- START OF SmartSource Data Collector TAG -->
<!-- Copyright (c) 1996-2009 WebTrends Inc.  All rights reserved. -->
<!-- Version: 8.6.2 -->
<!-- Tag Builder Version: 3.0  -->
<!-- Created: 8/4/2009 10:26:05 AM -->
<script src="https://www.nationalarchives.gov.uk/script/webtrends.js"></script>
<!-- Warning: The two script blocks below must remain inline. Moving them to an external -->
<!-- JavaScript include file can cause serious problems with cross-domain tracking.      -->
<script>
    //<![CDATA[
    var _tag = new WebTrends();
    _tag.dcsGetId();
    //]]>>
</script>
<script>
    //<![CDATA[
    // Add custom parameters here.
    //_tag.DCSext.param_name=param_value;
    _tag.dcsCollect();
    //]]>>
</script>
<noscript>
    <div><img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="https://smartsource.nationalarchives.gov.uk/dcsdhhxq6000004rry7ab39or_9h9r/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=8.6.2" /></div>
</noscript>
<!-- END OF SmartSource Data Collector TAG -->
<!--[if lt IE 9]>
<script src="http://test.discovery.nationalarchives.gov.uk/Scripts/jquery-1.10.2.min.js"></script>
<script src="http://test.discovery.nationalarchives.gov.uk/Scripts/jquery-migrate-1.0.0.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="http://test.discovery.nationalarchives.gov.uk/Scripts/jquery-2.0.3.min.js"></script>
<!--<![endif]-->
<!-- TNA scripts -->



<script src="http://test.discovery.nationalarchives.gov.uk/Scripts/Build/discovery.21.05.2018.min.js"></script>



<script src="https://nationalarchives.gov.uk/scripts/footer-img.js" defer></script>

</body>
</html>