<%- contentFor('account-bookmarks') %>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T8DSWV"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<div id="page_wrap" class="container" role="main">

    <div id="breadcrumb">
        <ul>
            <li><a href="http://www.nationalarchives.gov.uk/" class="breadcrumbs">Home</a></li>
            <li><a href="/" class="breadcrumbs">Discovery</a></li>
            <li>Bookmarks</li>
        </ul>
    </div>

    <div class="container account-pages" role="main">
        <div class="row">
            <div class="col ends-at-two-thirds box">
                <div class="heading-holding-banner">
                    <h1>
                    <span>
                        <span>
                            Your bookmarks
                        </span>
                    </span>
                    </h1>
                </div>
                <h2>You currently have no bookmarked pages</h2>
                <p>You can add bookmarks by clicking the star <img src="../img/bookmark-on.png" /> (where available) at the top-right of the page.</p>
            </div>
            <div class="col ends-at-one-third box">
                <div class="heading-holding-banner">
                    <h2> <span> <span>Also in this section</span> </span> </h2>
                </div>
                <div class="breather">



                    <ul class="sibling">

                        <li> <a class="selected" href="/account/bookmarks">Your bookmarks</a></li>
                        <li> <a class="normal" href="/account/tags">Your tags</a></li>
                        <li><a href="http://test.discovery.nationalarchives.gov.uk/account/yourorders">Your orders</a></li>

                        <li>
                            <a href=https://test.secure.nationalarchives.gov.uk/Login/PersonalDetails>Your personal details</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="newsletter-template">
        <div class="news-icon">
            <img src="https://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/tna-newsletter-icon.png" alt="TNA Newsletter Icon" />
        </div>

        <div class="news-content" id="newsletterAccessibility">
            <h2>Sign me up to the mailing list</h2>
            <p>Subscribe now for regular news, updates and priority booking for events</p>
        </div>

        <div class="news-form">
            <form name="signup" id="signup" action="https://app.wiredplus.com/form-signup" method="post" role="form">

                <input type="hidden" name="signup" value="NDQ1">
                <input type="hidden" name="return_url" value="https://www.nationalarchives.gov.uk/notifications/newsletter-thank-you/">
                <input type="hidden" name="confirmation_subject" value="">
                <input type="hidden" name="confirmation" value="">
                <input type="hidden" name="list" value="3">
                <input type="hidden" name="source" value="web">
                <input type="hidden" name="opt_in" value="1">

                <label for="Email">Send me The National Archives’ newsletter</label>
                <input type="email" name="Email" id="Email" required="required"
                       placeholder="Enter your email address" aria-labelledby="newsletterAccessibility">
                <input id="newsletterSignUp" type="submit" name="Submit" value="Submit" class="margin-left-medium">
            </form>
            <div class="small small-margin">
                <a href="http://www.nationalarchives.gov.uk/legal/privacy-policy/" title="About our privacy policy">
                    About our
                    privacy policy
                </a>
            </div>
        </div>
    </div>
</div>
<div id="version">
    Version 6.0 - February 2019 - OffSite
</div>


<!-- START OF SmartSource Data Collector TAG -->
<!-- Copyright (c) 1996-2009 WebTrends Inc.  All rights reserved. -->
<!-- Version: 8.6.2 -->
<!-- Tag Builder Version: 3.0  -->
<!-- Created: 8/4/2009 10:26:05 AM -->
<script src="https://www.nationalarchives.gov.uk/script/webtrends.js"></script>
<!-- Warning: The two script blocks below must remain inline. Moving them to an external -->
<!-- JavaScript include file can cause serious problems with cross-domain tracking.      -->
<script>
    //<![CDATA[
    var _tag = new WebTrends();
    _tag.dcsGetId();
    //]]>>
</script>
<script>
    //<![CDATA[
    // Add custom parameters here.
    //_tag.DCSext.param_name=param_value;
    _tag.dcsCollect();
    //]]>>
</script>
<noscript>
    <div><img alt="DCSIMG" id="DCSIMG" width="1" height="1" src="https://smartsource.nationalarchives.gov.uk/dcsdhhxq6000004rry7ab39or_9h9r/njs.gif?dcsuri=/nojavascript&amp;WT.js=No&amp;WT.tv=8.6.2" /></div>
</noscript>
<!-- END OF SmartSource Data Collector TAG -->
<!--[if lt IE 9]>
<script src="http://test.discovery.nationalarchives.gov.uk/Scripts/jquery-1.10.2.min.js"></script>
<script src="http://test.discovery.nationalarchives.gov.uk/Scripts/jquery-migrate-1.0.0.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="http://test.discovery.nationalarchives.gov.uk/Scripts/jquery-2.0.3.min.js"></script>
<!--<![endif]-->
<!-- TNA scripts -->



<script src="http://test.discovery.nationalarchives.gov.uk/Scripts/Build/discovery.18.02.2019.min.js"></script>
<!-- React Components -->
<script src="https://nationalarchives.gov.uk/scripts/tna-components.js"></script>



<script src="https://nationalarchives.gov.uk/scripts/footer-img.js" defer></script>